---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=08f64080&app_key=54c5a401035699d9a92e9cfbeb08283c&from=0&q=&to=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "" ],
            "from" : [ "0" ],
            "app_key" : [ "54c5a401035699d9a92e9cfbeb08283c" ],
            "to" : [ "10" ],
            "app_id" : [ "08f64080" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 03 Nov 2017 04:18:24 GMT
recorded_with: VCR 3.0.3
