<section class = row>
  <% (!(@from) || @from == 0) ? (i = 1) : (i = @from + 1) %>
  <% @favorites.each do |recipe| %>
  <div class="panel">
    <p class="float left"><%="result ##{i}"%></p>
    <%= link_to "★", add_to_favorites_path(recipe.uri), method: :post, class:"float right fav" %>
    <section class="row recipes">
    <%= image_tag(recipe.image, class: "clearing-thumbs", class: "small-4 columns")%>
    <%= link_to "#{format_length(recipe.name)}", show_recipe_path(recipe.uri), class: "small-6 columns" %>
  </section>
  <% i += 1 %>
</div>
  <% end %>
</section>
