/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 /**= require foundation_and_overrides*/

 */
 .index {
   font-family: 'Work Sans', sans-serif;
 }

 .index h1 {
   font-size: 6em;
 }

 .index h1:hover {
   text-shadow: yellow 10px -20px 50px;
 }

 #index-link {
   color: black;
   text-shadow: yellow 10px -20px 50px;
   text-align: left;
   font-family: 'Work Sans', sans-serif;
 }

 #index-link:hover {
   text-shadow: pink 10px -20px 50px;

 }
 .pages .button {
   background-color: lightgreen;
 }

 .pages {
   font-family: 'Work Sans';

 }

 .button {
   background-color: pink;
   font-family: 'Work Sans', sans-serif;
 }

 .button:hover {
   background-color: yellow;
 }

 .pages .button:hover {
   background-color: orange;
 }


 .button:active {
   background-color: green;
 }

 .button:focus {
   background-color: orange;
 }

/*.button:visited {
  background-color: pink;
}*/

 .image-index {
  position: absolute;
  z-index: -5;
  opacity: 0.1;
  border-radius: 50%;
 }

.panel {
  font-family: monospace;

}

.panel p {
  font-size: 1em;

}

 .panel img{
   border-radius: 50%;
   align: left;

 }

 .recipes a {
   font-size: 3em;
   background-color: yellow;
   color: black;
   font-style: oblique;
 }

 .recipes a:hover {
   font-weight: bolder;
 }

 .fav:hover {
   color: pink;
 }

 .fav {
   font-size: 3em;
   color: white;
 }

 .faved {
   color:pink;
   font-size: 3em;
 }

 .faved:hover {
   color:white;
 }

 h3 {
   font-family: monospace;
   background-color: lightgreen;
   font-weight: bold;
   text-align: center;
 }

 table {
   font-family: 'Work Sans', 'sans-serif'
 }

 footer {
   font-family: 'Work Sans', 'sans-serif'

 }
